@import url(../recursos/fonts/Germania/css.css?family=Germania+One);
h1{
  position: absolute;
  top:0;
  left: 0;
  margin-top: 60px;
  margin-left: 45px;
}
h2{
  position: absolute;
  top:0;
  left: 0;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 40px;
}

#Cuer{
  height  : 480px;
  left    : 40%;
  position: absolute;
  top     : 15%;
  width   : 500px;
  z-index : 999;
}
#CurF{
  color: #fff;
  font-size: 30px;
  position: absolute;
}

#Namef{
  top:0;
  margin-top: 100px;
}

#Idiomaf,
#passf,
#Aliasf,
#Diereccionf,
#Namef{
  left: 0;
  margin-left: 50px;
}

#CurF input{
 -webkit-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-moz-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-o-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-ms-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  color: rgba(0,0,0,0.8);
  font-family: 'Germania One', cursive;
  margin: 0px 130px;
  top: 0px; 
  height: 30px;
  font-size: 25px;
  text-align: center;
  position: relative;
  width: 250px;
}
#CurF select {
  -webkit-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -moz-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -o-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -ms-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  border: none;
  outline: none;
  background: rgba(250,250,250,0.9);  
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-family: 'Germania One', cursive;
  font-size: 30px;
  margin-left: 50px;
  left: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 35px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

#CurF label { position: relative; }

#CurF label:after {
  color: #aaa;
  content: '<>';
  font: 30px 'Consolas', monospace;
  margin-top: -3px;
  padding: 0 0 2px;
  position: absolute;
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  transform: rotate(110deg);
  pointer-events: none;
  right:10px;
  top: 0px;
}

#CurF label:before {
  content: '';
  display: block;
  height: 20px;  
  pointer-events: none;
  position: absolute;
  right: 6px;
  top:0;
  width: 20px;
}

#imgC img{
  border: solid rgba(230, 95, 0,0.2);	
  height  : 200px;
  position: relative;
  margin: 0 auto;
  width   : 195px;
  z-index : 999;
}
#Imgen{
  height  : 280px;
  left    : 20%;
  position: absolute;
  top     : 15%;
  width   : 200px;
  z-index : 999;
}
#Limg{
	color: #fff;
	padding-left: 10px;
}
#sub{
  height  : 170px;
  left    : 0;
  position: absolute;
  top     : 300px;
  width   : 200px;
  z-index : 999;
}
.target{
  position: absolute;
  z-index : 999;
}
/***************************************/
.styleFileInput{
    position: relative;
}
.browseButton{
	background: rgba(250,250,250,0.6); 
	border: 1px solid #000; 
	color: #000; 
	font-family: 'Germania One', cursive;
	font-size: 20px;
	margin-top:5px;
	margin-left: 48px;
	padding: 2px 10px;
	position: absolute;
	width: 100px;
}
input.theFileInput{
	border   : solid;
	font-size: 1em;
	left     : 45px;    
	opacity  :0;
	 -moz-opacity:0;
    filter:alpha(opacity:0);
	position :absolute;
	top      :0px;
	width    :100px;
	z-index  :99;
}

#usum{
  position: absolute;
  z-index: 999;
}
/*--------------------------------------**/
#act{
	color      : #000;
	font-size  : 25px;
	left       : 0;
	margin-left: -40px;
	margin-top :30px;
	position   : absolute;
	top        : 0;
	z-index    : 999;
}
#diamond-shield {
    width: 0;
    height: 0;
    border: 80px solid transparent;
    border-bottom: 30px solid #f7f7f7;
    position: relative;
    opacity: 0.7;
    top: -60px;
    margin-left:20px;
}

#diamond-shield:after {
    content: '';
    position: absolute;
    left: -80px;
    top: 30px;
    width: 0;
    height: 0;
    border: 80px solid transparent;
    border-top: 100px solid #f7f7f7;
}


