@import url(../recursos/fonts/Germania/css.css?family=Germania+One);
h1{
  position: absolute;
  top:0;
  left: 0;
  margin-top: 60px;
  margin-left: 45px;
}
h2{
  position: absolute;
  top:0;
  left: 0;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 40px;
}
input.theFileInput{
  font-size: 1em;
  left     : 25px;   
  height: 30px;
  opacity  :0;
   -moz-opacity:0;
    filter:alpha(opacity:0);
  position :absolute;
  top      :2px;
  width    :150px;
  z-index  :99;
}
#Cuer{
  height  : 480px;
  left    : 40%;
  position: absolute;
  top     : 15%;
  width   : 500px;
  z-index : 999;
}
#CurF{
  color: #fff;
  font-size: 30px;
  position: absolute;
}

#Namef{
  top:0;
  margin-top: 100px;
}

#Idiomaf{
  left: 0;
  margin-left: 50px;
  margin-top: -45px;
}
#passf,
#Aliasf,
#Diereccionf,
#Namef{
  left: 0;
  margin-left: 50px;
}


#CurF input{
 -webkit-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-moz-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-o-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-ms-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  color: rgba(0,0,0,0.8);
  font-family: 'Germania One', cursive;
  margin: 0px 130px;
  top: 0px; 
  height: 30px;
  font-size: 25px;
  text-align: center;
  position: relative;
  width: 250px;
}
#CurF select {
  -webkit-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -moz-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -o-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -ms-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  border: none;
  outline: none;
  background: rgba(250,250,250,0.9);  
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-family: 'Germania One', cursive;
  font-size: 30px;
  margin-left: 150px;
  margin-top: 5px;
  left: 0;
  top: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 35px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

#CurF label { position: relative; }

#CurF label:after {
  color: #aaa;
  content: '<>';
  font: 30px 'Consolas', monospace;
  margin-top: -3px;
  padding: 0 0 2px;
  position: absolute;
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  transform: rotate(110deg);
  pointer-events: none;
  right:10px;
  top: 0px;
}

#CurF label:before {
  content: '';
  display: block;
  height: 20px;  
  pointer-events: none;
  position: absolute;
  right: 6px;
  top:0;
  width: 20px;
}

#imgC img{
  border: solid rgba(230, 95, 0,0.2);	
  height  : 200px;
  position: relative;
  margin: 0 auto;
  width   : 195px;
  z-index : 999;
}
#Imgen{
  height  : 280px;
  left    : 20%;
  position: absolute;
  top     : 15%;
  width   : 200px;
  z-index : 999;
}
#Limg{
	color: #fff;
	padding-left: 10px;
}
#pass{
  background: rgba(250,250,250,0.8);
  cursor  :pointer;
  left    : 0px;
  position: absolute;
  top     :0;
}
#sub{
  height  : 170px;
  left    : 0;
  position: absolute;
  top     : 300px;
  width   : 200px;
  z-index : 999;
}
.target{
  position: absolute;
  z-index : 999;
}
/*****************boton**********************/
.styleFileInput{
    position: relative;
}
.browseButton{
	background: rgba(250,250,250,0.6); 
	border: 1px solid #000; 
	color: #000; 
	font-family: 'Germania One', cursive;
	font-size: 20px;
	margin-top:5px;
	margin-left: 25px;
	padding: 2px 10px;
	position: absolute;
	width: 150px;
}
#usum{
  position: absolute;
  z-index: 999;
}
.btn {
   background: rgba(0, 0, 0,0.5); 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
    border-width:4px 30px 4px 30px;  
    border-style:solid;  
    border-color:rgba(230, 95, 0,1) rgba(230, 95, 0,1) rgba(250,250,250,0.5)  rgba(250,250,250,0.5) ;  
    border-radius:0 120px 0 120px;  
    -moz-border-radius:0 120px 0 120px;  
    -webkit-border-radius:0 120px 0 120px;  
   color      :rgba(250,250,250,1);
   cursor:pointer;
   font-size: 30px;
   font-family: 'Germania One', cursive;
   left: 20px;
   position: relative;
    width:160px;  
    height:160px;   
    font-weight:bold;  
    line-height:180px;  
    text-align:center; 
    text-shadow: 0 0 10px rgba(250,250,250,0.5),
   0 0 20px rgba(250,250,250,0.5), 
   0 0 30px rgba(250,250,250,0.5),
    0 0 40px rgba(230, 95, 0,0.5),
     0 0 70px rgba(230, 95, 0,0.5), 
     0 0 80px rgba(230, 95, 0,0.5), 
     0 0 100px rgba(230, 95, 0,0.5), 
     0 0 150px rgba(230, 95, 0,0.5); 
     top:5px;   
}
/*****************accesos de esfera**********/
nav a{    
  color     : rgba(250,250,250,1);
  font-size: 30px;
  left: 0; 
  opacity: 0.7;
  position: absolute; 
  text-shadow: 
  -1px 0 rgba(0,0,0,0.5), 
  0 1px rgba(0,0,0,0.5), 
  1px 0 rgba(0,0,0,0.5),
  0 -1px rgba(0,0,0,0.5);
    top:0;
  z-index: 999999999999;  
}
nav a:hover{
  color     : rgba(250,250,250,0.7);
  opacity: 0.9;
  text-shadow: 
    0 0 20px #fff,
    0 0 30px #fff, 
    0 0 40px #fff,
    0 0 50px rgba(230, 95, 0,1),
    0 0 80px rgba(230, 95, 0,1), 
    0 0 90px rgba(230, 95, 0,1), 
    0 0 120px rgba(230, 95, 0,1), 
    0 0 160px rgba(230, 95, 0,1);
}
#Port{
  margin-left: 190px;
  margin-top : 25px;
}
#Face{
  margin-left: 177px;
  margin-top : 65px;
}
#Twt{
  margin-left: 162px;
  margin-top : 105px;
}
#Goo{
  margin-left: 147px;
  margin-top : 145px;
}
#Plus{
  margin-left: 122px;
  margin-top : 185px; 
}