@import url(../../css/style.css);
/**/

h1{
  color      :rgba(0,0,0,0.5);
  font-family: 'Germania One', cursive;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 60px;
}
h2{
  color      :rgba(250,250,250,1);
  font-family: 'Germania One', cursive;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 265px;
  text-shadow: 
  0 0 30px #fff,
   0 0 40px #fff, 
   0 0 50px #fff;
   width: 500px;
}
.target{
	top  : 100px;
	height  : 600px;
	left    : 300px;
	position: absolute;
	width   : 800px;
	z-index : 999;
}
/**----------------pestañas--------------*/
nav ul{
  font-size:0;
  padding:0;
}
nav ul li{  
  display: inline-block;
  font-size:20px;
  padding: 0;
  margin: 0;
}
nav ul li a:hover{
  border: none;
  text-shadow: 
  0 0 20px #fff,
   0 0 30px #fff, 
   0 0 40px #fff,
    0 0 50px rgba(230, 95, 0,1),
     0 0 80px rgba(230, 95, 0,1), 
     0 0 90px rgba(230, 95, 0,1), 
     0 0 120px rgba(230, 95, 0,1), 
     0 0 160px rgba(230, 95, 0,1);
}

nav ul li a{
  color: #FFF;
  display: block;
  font-weight:bold;
  padding: 0;
  text-align:center;
  text-transform:uppercase;
   text-shadow: 0 0 10px #fff,
   0 0 20px #fff, 
   0 0 30px #fff,
    0 0 40px rgba(230, 95, 0,1),
     0 0 70px rgba(230, 95, 0,1), 
     0 0 80px rgba(230, 95, 0,1), 
     0 0 100px rgba(230, 95, 0,1), 
     0 0 150px rgba(230, 95, 0,1);
}

#div-border{ 
top:100px;
left: 400px;
position: absolute;
border-left: 1px solid rgba(250,250,250,0.5); 
width:1px;
height:450px;
background: rgba(250,250,250,0.5);
box-shadow:  0 0 10px #fff,
   0 0 20px #fff, 
   0 0 30px #fff,
    0 0 40px rgba(230, 95, 0,1),
     0 0 70px rgba(230, 95, 0,1), 
     0 0 80px rgba(230, 95, 0,1), 
     0 0 100px rgba(230, 95, 0,0), 
     0 0 150px rgba(230, 95, 0,1);

}
#INI{
  left    : 0;
  margin  : 130px 180px;
  position: absolute;
  top     :0;

}
#REG{
  left    : 0;
  margin  : 40px 200px;
  position: absolute;
  top     :0;
}
#UsuCon{
  height: 450px;
  position: absolute;
  top:100px;
  width: 395px;
}
#UsuFaTwG{
  height: 100%;
  position: absolute;
  left: 430px;
  top:180px;
  margin: 0;
  width: 400px;
}
#UsuFaTwG div{
 -webkit-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-moz-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-o-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-ms-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  font-family: 'Germania One', cursive;
  font-size: 35px;
  height: 50px;
  margin: 15px 0px;
  padding-left: 5px;
  position: relative;
  text-align: left;
  width: 350px;

}
#UsuFaTwG a{
color: #fff;
}
#UsuFaTwG .btn-facebook{
  background: rgba(35, 114, 163,0.8);
}
#UsuFaTwG .btn-twitter {
  background: rgba(64,153,255,0.8);
}
#UsuFaTwG .btn-google{
  background: rgba(227, 0, 50,0.8);
}
#UsuFaTwG .btn-github{
  background: rgba(250,250,250,0.8);
  
}
#UsuFaTwG .btn-github a{
  color: #000;
}
.btn {
   background: rgba(0, 0, 0,0.5); 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
    border-width:4px 30px 4px 30px;  
    border-style:solid;  
    border-color:rgba(230, 95, 0,1) rgba(230, 95, 0,1) rgba(250,250,250,0.5)  rgba(250,250,250,0.5) ;  
    border-radius:0 120px 0 120px;  
    -moz-border-radius:0 120px 0 120px;  
    -webkit-border-radius:0 120px 0 120px;  
   color      :rgba(250,250,250,1);
   cursor:pointer;
   font-family: 'Germania One', cursive;
   font-size: 30px;
   left: 120px;
   position: relative;
   top:100px;
    width:180px;  
    height:180px;   
    font-weight:bold;  
    line-height:180px;  
    text-align:center; 
    text-shadow: 0 0 10px rgba(250,250,250,0.5),
   0 0 20px rgba(250,250,250,0.5), 
   0 0 30px rgba(250,250,250,0.5),
    0 0 40px rgba(230, 95, 0,0.5),
     0 0 70px rgba(230, 95, 0,0.5), 
     0 0 80px rgba(230, 95, 0,0.5), 
     0 0 100px rgba(230, 95, 0,0.5), 
     0 0 150px rgba(230, 95, 0,0.5); 

   
}
.clearfix{
  margin: 30px 50px;
}

.clearfix label{
  color:rgba(250,250,250,.5);
  position: absolute;
  margin: 50px 0; 
  font-size: 30px;
  font-family: 'Germania One', cursive;
}
.clearfix input{
  -webkit-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-moz-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-o-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
-ms-transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
transform: translate(-1px, 0px) rotate(2deg) skew(-19deg, -3deg) scale(0.9, 0.8); 
  color: rgba(0,0,0,0.8);
  margin: 0px 130px;
  top: 55px; 
  height: 30px;
  font-size: 25px;
  text-align: center;
  font-family: 'Germania One', cursive;
  position: relative;
  width: 200px;
}

/*-------------------circulo---------------------*/
  #outer-circle {
    -webkit-box-shadow: 0 0 50px 10px rgba(230, 95, 0,1);
    -moz-box-shadow: 0 0 50px 10px rgba(230, 95, 0,1);
    box-shadow: 0 0 50px 10px rgba(230, 95, 0,1);
    border: 10px solid rgba(230, 95, 0,0.3);
    border-top-color:rgba(230, 95, 0,1);
    margin: -30px -30px;
    text-align:center;
    background: -webkit-linear-gradient(top, #ffffff 48%, rgba(230, 95, 0,0.3) 49%, rgba(230, 95, 0,0.3) 51%, #fff 52%);
    background: -moz-linear-gradient(top, #ffffff 48%, rgba(230, 95, 0,0.3) 49%, rgba(230, 95, 0,0.3) 51%, #fff 52%);
    background: linear-gradient(to bottom, #ffffff 48%, rgba(230, 95, 0,0.3) 49%, rgba(230, 95, 0,0.3) 51%, #fff 52%);
    width: 220px;
    height: 220px;
  
    -webkit-border-radius: 220px;
    -moz-border-radius: 220px;
    border-radius: 220px;
  
    -webkit-animation:turning_cw 5s infinite;
    -moz-animation:turning_cw 5s infinite;
    animation:turning_cw 5s infinite;
    position:relative;
    opacity: 0.7; }
    
  #outer-circle:hover {
    -webkit-box-shadow: 0 0 100px 15px rgba(230, 95, 0,1);
    -moz-box-shadow: 0 0 100px 15px rgba(230, 95, 0,1);
    box-shadow: 0 0 100px 15px rgba(230, 95, 0,1); }
    
  #inner-circle {
    border: 10px solid rgba(230, 95, 0,0.3);
    border-left-color:rgba(230, 95, 0,1);
    border-right-color:rgba(230, 95, 0,1);
  
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  
    position:absolute;
  
    background: -webkit-linear-gradient(top, rgba(230, 95, 0,0.3) 48%, rgba(230, 95, 0,1) 49%, rgba(230, 95, 0,1) 51%, rgba(230, 95, 0,0.3) 52%);
    background: -moz-linear-gradient(top, rgba(230, 95, 0,0.3) 48%, rgba(230, 95, 0,1) 49%, rgba(230, 95, 0,1) 51%, rgba(230, 95, 0,0.3) 52%);
    background: linear-gradient(to bottom, rgba(230, 95, 0,0.3) 48%, rgba(230, 95, 0,1) 49%, rgba(230, 95, 0,1) 51%, rgba(230, 95, 0,0.3) 52%);
  
    margin: 10px;
    width: 180px;
    height: 180px;
  
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
  
    -webkit-animation:turning_acw 3s infinite;
    -moz-animation:turning_acw 3s infinite;
    animation:turning_acw 3s infinite; }

  #center-circle {
    border: 10px solid rgba(230, 95, 0,1);
    border-bottom-color:rgba(230, 95, 0,0.3);
    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg); 
    transform: rotate(360deg); 
    position:absolute;

    background: -webkit-linear-gradient(top, #fff 48%, rgba(230, 95, 0,0.3) 49%, rgba(230, 95, 0,0.3) 51%, #fff 52%);
    background: -moz-linear-gradient(top, #fff 48%, rgba(230, 95, 0,0.3) 49%, rgba(230, 95, 0,0.3) 51%, #fff 52%);
    background: linear-gradient(to bottom, #fff 48%, rgba(230, 95, 0,0.3) 49%, rgba(230, 95, 0,0.3) 51%, #fff 52%);
  
    margin: 10px;
    width: 140px;
    height: 140px;
  
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    border-radius: 140px;
  
    -webkit-animation:turning_cw 5s infinite;
    -moz-animation:turning_cw 5s infinite;
    animation:turning_cw 5s infinite; }

  #content {
    position:absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    border-radius: 140px;
    background: rgba(230, 95, 0,1); 
    text-align:center;
    line-height: 120px;
    font-size: 30px;
    color:rgba(230, 95, 0,1);
    text-shadow: 0 2px 2px #000;
    font-weight:bold; }

  @-webkit-keyframes aura {
    0%{
      text-shadow: 0 2px 2px #000; }
      
    50%{
      text-shadow: 0 10px 10px #000;
      line-height: 190px; }
      
    100%{
      text-shadow: 0 2px 10px #000; }
  }

  @-webkit-keyframes turning_cw {
    0%{
      -webkit-transform: rotate(0deg); }
    100%{
      -webkit-transform: rotate(360deg); }
  }
  
  @-webkit-keyframes turning_acw {
    0%{
      -webkit-transform: rotate(360deg); }
    100%{
      -webkit-transform: rotate(0deg); }
  }

  @-moz-keyframes aura {
    0%{
      text-shadow: 0 2px 2px #000; }
      
    50%{
      text-shadow: 0 10px 10px #000;
      line-height: 190px; }
      
    100%{
      text-shadow: 0 2px 10px #000; }
  }

  @-moz-keyframes turning_cw {
    0%{
      -moz-transform: rotate(0deg); }
    100%{
      -moz-transform: rotate(360deg); }
  }
  
  @-moz-keyframes turning_acw {
    0%{
      -moz-transform: rotate(360deg); }
    100%{
      -moz-transform: rotate(0deg); }
  }

  @keyframes aura {
    0%{
      text-shadow: 0 2px 2px #000; }
      
    50%{
      text-shadow: 0 10px 10px #000;
      line-height: 190px; }
      
    100%{
      text-shadow: 0 2px 10px #000; }
  }

  @keyframes turning_cw {
    0%{
      transform: rotate(0deg); }
    100%{
      transform: rotate(360deg); }
  }
  
  @keyframes turning_acw {
    0%{
      transform: rotate(360deg); }
    100%{
      transform: rotate(0deg); }
  }
